.header {
  text-align: center;
}

.header h1 {
  font-size: calc(20px + 2vmin);
  color: wheat;
}

.tilesBar {
  max-height: 50vh;
  background: #282c34;
  margin: 10px;
}

.tiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tile {
  background-color: #999;
  margin: 10px;
  padding-bottom: 3vw;
  width: 20vw;
  height: 20vw;
}

.icon-extras {
  display: flex;
  justify-content: space-between;
}

.icon-label {
  margin: 10px;
  text-transform: capitalize;
}

.icon-label a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.buttons {
  display: grid;
  grid-template-areas: '. center .';
  grid-template-columns: 1fr 150px 1fr;
}

.undo-button {
  justify-self: flex-end;
}

.reroll-button {
  grid-area: center;
  justify-self: flex-end;
}

.reroll-button button {
  width: 100%;
}

.buttons button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 29pt;
  outline: none;
  margin: 40px;
}

.lock-button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 19pt;
  outline: none;
  margin-left: 10px;
}

.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: white;
  text-align: center;
}

.footer a {
  color: wheat;
  font-weight: bold;
}

body {
  background-color: #282c34;
}
