.header {
  text-align: center;
}

.header h1 {
  font-size: calc(20px + 2vmin);
  color: white;
}

.tilesBar {
  max-height: 50vh;
  background: #282c34;
  margin: 10px;
}

.tiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tile {
  background-color: #999;
  flex: 20%;
  margin: 10px;
}

.icon-extras {
  display: flex;
  justify-content: space-between;
}

.icon-label {
  margin: 10px;
  color: white;
  text-transform: capitalize;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttons button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 29pt;
  outline: none;
  margin: 40px;
}

.lock-button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 19pt;
  outline: none;
}

.reroll-button input:hover {
  color: #666;
  background: #D3D3D3;
}

.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: white;
  text-align: center;
}

.footer a {
  color: wheat;
  font-weight: bold;
}

body {
  background-color: #282c34;
}
