body {
    background-color: #282c34;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: calc(20px + 2vmin);
    color: wheat;
}

.footer {
    bottom: 20px;
    color: white;
    text-align: center;
    margin: 20px;
}

.footer a {
    color: wheat;
    font-weight: bold;
}

button {
    background: #F3F3F3;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

:root {
    --columns: 4;
}

@media (max-width: 800px) {
    :root {
        --columns: 2;
    }
}

.tilesBar {
    background: #282c34;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 8px;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}

.tile {
    background-color: #999;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr;
}

.icon-extras {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    margin: 8px;
    box-sizing: border-box;
}

.lock-button {
    width: 30%;
}

.red {
    color: orangered;
    font-size: 40px;
}

button.lock-button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    background: #999;
    border: none;
}

.icon-label {
    margin: 10px;
    text-transform: capitalize;
    text-align: right;
}

.icon-label a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.buttons {
    display: grid;
    grid-template-areas: '. center .';
    grid-template-columns: 1fr 150px 1fr;
    margin-top: 8px;
    gap: 8px;
    align-items: center;
    margin-bottom: 40px;
}

.undo-button {
    justify-self: flex-end;
}

.undo-button button {
    border: 1px #DADADA solid;
    border-radius: 8px;
}

.undo-icon {
    font-size: 5rem;
}

.reroll-button {
    grid-area: center;
    justify-self: center;
    width: 100%;
}

.reroll-button button{
    width: 100%;
    aspect-ratio: 1/1;
    background: #282c34;
    color: white;
    border: none;
}

.reroll-icon {
    font-size: 9rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media(hover: hover) and (pointer: fine) {
    .rotating:hover {
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
    }
}